---
layout: layouts/base.njk
title: Articles from Blogger
---

<h1>Blogger to Small JAMstack</h1>

<h2>Articles</h2>
<ul class="listing">
{% for item in blogger.posts %}
  <li>
    <p class="meta">Published on {{ item.published | date }} </p>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
