---
layout: layouts/base.njk
pagination:
  data: blogger.posts
  size: 1
  alias: item
permalink: posts/{{ item.path }}/index.html
---

<p class="meta">Published on {{ item.published | date }} </p>
<h2>{{ item.title }}</h2>
<div class="post-content">
  {{ item.content | safe }}
</div>

